<fieldset>
    <legend>Сведения о составе автопарка</legend>
      <table class=fullwidth_table border="0">
        <tr>
            <td>Количество машин
            <input type=text name=cars_quantity value={{ d['cars_quantity'] }}>
            </input>
            </td>
        </tr>
        <tr>
            <td>Среднее время работы автомобиля в день
            <input type=text name=motorhours_per_day value={{d['motorhours_per_day']}}>
            ч
            </input>
            </td>
            <td>
                Стоимость литра топлива 
                <input type=text name=fuel__cost_per_liter value=35>
                руб 
                </input>
            </td>
        </tr>
      </table>
</fieldset>
