<fieldset>
    <legend>Сведения о составе автопарка</legend>
      <table class=fullwidth_table border="0">
        <tr>
        <td><label for=first-name>Количество машин</label> </td>
        <td><input type=text name=firm.cars_quantity value=1></td>
        </tr>
        <tr>
        <td><label for=first-name>Среднее время работы автомобиля в день</label></td>
        <td><input type=text name=firm.average_run_time value=8></td>
        <td>
            Стоимость литра топлива 
            <input type=text name=fuel__cost_per_liter value=35>
            руб 
            </input>
        </td>
        </tr>
      </table>
</fieldset>
