<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Заголовок</title>
    <style>
        .result_table {
            width:880px;
        }
        .result_table tr {
            width:80px;
            margin:10;
            padding:4px;
        }
        table {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    Расчет стоимости системы АвтоГЛОНАСС
    <!-- https://jsfiddle.net/ZjcX2/2 -->
    <form action="/" method="post">
        <fieldset>
            <legend>Сведения о предприятии</legend>
            <small class=extra-help>(заполняется по желанию)</small>
            <ul class=form-fields>
                <li>
                    <label for=last-name>Название предприятия</label>
                    <input type=text class=text-input id=last-name name=firm.firm_name>
                </li>
                <li>
                    <label for=email>Email</label>
                    <input type=email class=text-input id=email name=firm.email>
                </li>
            </<ul>
        </fieldset>
        <fieldset>
            <legend>Сведения о составе автопарка</legend>
            <ul class=form-fields>
                <li>
                    <label for=first-name>Количество машин</label>
                    <input type=text class=text-input id=first-name name=firm.cars_quantity>
                </li>
                <li>
                    <label for=first-name>Средний пробег Ваших автомобилей в день</label>
                    <input type=text class=text-input id=first-name name=firm.average_run>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Устанавливаемое оборудование</legend>
            <p>Выберите желаемый набор оборудования:</p>
            <ul class=form-fields>
                <ul class=check-list>
                    <li>
                        <input type=checkbox id=tracker name=equip.tracker> <label for=tracker>Трекер</label>
                        <small class=extra-help>(необходим для подключения оборудования, кроме отмеченного **)</small>
                    </li>
                    <li>
                        <input type=checkbox id=dut name=equip.dut> <label for=dut>ДУТ</label>
                    </li>
                    <li>
                        <input type=checkbox id=temp name=equip.temp> <label for=temp>Датчик температуры</label>
                    </li>
                    <li>
                        <input type=checkbox id=voice name=equip.voice> <label for=voice>Голосовая гарнитура</label>
                    </li>
                    <li>
                        <input type=checkbox id=block_eng name=equip.block_eng> <label for=block_eng>Реле блокировки двигателя</label>
                    </li>
                    <li>
                        <input type=checkbox id=alarm_btn name=equip.alarm_btn> <label for=alarm_btn>Тревожная кнопка</label>
                    </li>
                    <li>
                        <input type=checkbox id=pp name=equip.pp> <label for=pp>ПП</label>
                    </li>
                </ul>
            </ul>
            <p>Выберите желаемый cпособ оплаты установки:</p>
            <ul class=form-fields>
                <!-- <span class=label></span> -->
                <ul class="check-list  multi-list  two-cols">
                    <li>
                        <input type=radio name=cost id=credit value=credit> <label for=credit>Рассрочка стоимости установки</label>
                    </li>
                    <li>
                        <input type=radio name=cost id=partly_paid value=partly_paid> <label for=partly_paid>Частичная оплата при установке</label>
                    </li>
                    <li>
                        <input type=radio name=cost id=full_payment value=full_payment> <label for=full_payment>Оплата при устновке</label>
                    </li>
                </ul>
            </ul>
        </fieldset>
        <input type=submit value="Рассчитать">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    Results:
    <table class=result_table border="1">
     <tr>
        <th>Итого на подключение машин</th>
        <th>Итого обслуживание автомобилей в месяц</th>
        <th>Ваша экономия на приписках пробегов</th>
        <th>Ваша экономия на расходе топлива</th>
        <th>Срок окупаемости системы</th>
    </tr>
    {% for message in messages %}
    <tr>
        {% for item in message %}
        <td>{{ item }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    {% endif %}
    {% endwith %}
</body>
</html>