{% extends "base.html" %}
{% block body %}
        <fieldset>
            <legend>Выберите дополнительное оборудование:</legend>
                <div>
                  <input type=checkbox id=dut name=freight.dut>
                    ДУТ 
                  </input><br>
                  <input type=checkbox id=temp name=freight.temp>
                    Датчик температуры 
                  </input><br>
                  <input type=checkbox id=block_eng name=freight.block_eng>
                    Реле блокировки двигателя 
                  </input><br>
                  <input type=checkbox id=alarm_btn name=freight.alarm_btn>
                    Тревожная кнопка
                  </input><br>
                  <input type=checkbox id=pp name=freight.pp>
                    ПП
                  </input><br>
                  <button type=submit1 name=type_freight>Рассчитать</button>
                </div>
        </fieldset>

        <div class="hyperlink" id=main> <a href="{{url_for('index')}}">Вернуться к типовым наборам оборудования</a>
          <div></div>
        </div>
        
      </form>
  <br>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <table class=result_table border="1">

            <tr>
                {% for item in  messages[0] %}
                <th><center>{{ item }}</center></th>
                {% endfor %}
            </tr>
            <tr>
                {% for item in  messages[1] %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>

            {% for message in  messages[2:] %}
            <tr>
                {% for item in  message %}
                <td>{{ item|safe }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endwith %}
{% endblock %}