{% extends "base.html" %}
{% block body %}
  <form action="{{url_for('index')}}" method="post">
    {% include 'fields/firm_fieldset.html' %}
    <fieldset>
        <legend>Выберите дополнительное оборудование:</legend>
        <div class=tabs>
           <div id=type_freight> <a href="#type_freight">Грузоперевозки</a>
              <div>
                {% include 'fields/dut_fields.html' %}
                {% include 'fields/cargo_fields.html' %}
                <button type=submit name=type_freight>Рассчитать</button>
              </div>
          </div>

          <div id=type_fridge> <a href="#type_fridge">Перевозка заморозки</a>
              <div>
                {% include 'fields/temp_fields.html' %}
                {% include 'fields/dut_fields.html' %}
                <button type=submit name=type_fridge>Рассчитать</button>
              </div>
          </div>

          <div id=type_passenger> <a href="#type_passenger">Пассажироперевозки</a>
              <div>
                {% include 'fields/pp_fields.html' %}
                {% include 'fields/dut_fields.html' %}
                <button type=submit name=type_passenger>Рассчитать</button>
              </div>
          </div>

          <div id=type_taxi> <a href="#type_taxi">Такси</a>
              <div>
                {% include 'fields/taxi_fields.html' %}
                <button type=submit name=type_taxi>Рассчитать</button>
              </div>
          </div>

          <div id=type_machinery> <a href="#type_machinery">Спец. техника</a>
              <div>
                {% include 'fields/agregate_fields.html' %}
                <button type=submit name=type_machinery>Рассчитать</button>
              </div>
          </div>
          

          <div id=type_minimal> <a href="#type_minimal">Без датчиков - только трекер</a>
            <div>Выберите одну из первых вкладок, если вы хотите оборудовать типовой автопарк<br><br>
            </div>
          </div>
        </div>
    </fieldset>
  </form>
  
  <div class="hyperlink" id=all_params> <a href="{{url_for('all_params')}}">Все настройки</a>
  </div>
  
  <br>
  <br>
  {% with m = get_flashed_messages() %}
    {% if m %}
      <table class=result_table border="1">
        <tr>
        <th> {{ m[0][0]|safe }} </th>
        <th> {{ m[0][1]|safe }} </th>
        <th> {{ m[0][2]|safe }} </th>
        <th> {{ m[0][3]|safe }} </th>
        <th> {{ m[0][4]|safe }} </th>
        <th> {{ m[0][5]|safe }} </th>
        <th> {{ m[0][6]|safe }} </th>
        </tr>
        <tr>
        <td> {{ m[1][0]|safe }} </td>
        <td> {{ m[1][1]|safe }} </td>
        <td> {{ m[1][2]|safe }} </td>
        <td> {{ m[1][3]|safe }} </td>
        <td> {{ m[1][4]|safe }} </td>
        <td> {{ m[1][5]|safe }} </td>
        <td> {{ m[1][6]|safe }} </td>
        </tr>
        <tr>
        <th> {{ m[0][7]|safe }} </th>
        <th> {{ m[0][8]|safe }} </th>
        <th> {{ m[0][9]|safe }} </th>
        <th> {{ m[0][10]|safe }} </th>
        </tr>
        <tr>
        <td> {{ m[1][7]|safe }} </td>
        <td> {{ m[1][8]|safe }} </td>
        <td> {{ m[1][9]|safe }} </td>
        <td> {{ m[1][10]|safe }} </td>
        </tr>
      </table>
    {% endif %}
  {% endwith %}


{% endblock %}