{% extends "base.html" %}
{% block body %}
  <form action="{{url_for('type_arbitary')}}" method="post">
    <fieldset>
        <legend>Выберите дополнительное оборудование и укажите необходиые параметры:</legend>
            <div>
              <input type=checkbox id=block_eng name=arbitary.block_eng>
                Реле блокировки двигателя 
              </input><br>
              {% for item in p %}
                cars_quantity = 
                <input type=text name=cars_quantity value=1>Число машин</input>
                <br>
              {% endfor %}
              <button type=submit1 name=type_arbitary>Рассчитать</button>
            </div>
    </fieldset>
  </form>
  <div class="hyperlink" id=main> <a href="{{url_for('index')}}">Вернуться к типовым наборам оборудования</a>
  </div>    
  
  <br>
  <br>
  {% with m = get_flashed_messages() %}
    {% if m %}
      <table class=result_table border="1">
        <tr>
        <th> {{ m[0][0]|safe }} </th>
        <th> {{ m[0][1]|safe }} </th>
        <th> {{ m[0][2]|safe }} </th>
        <th> {{ m[0][3]|safe }} </th>
        <th> {{ m[0][4]|safe }} </th>
        <th> {{ m[0][5]|safe }} </th>
        <th> {{ m[0][6]|safe }} </th>
        </tr>
        <tr>
        <td> {{ m[1][0]|safe }} </td>
        <td> {{ m[1][1]|safe }} </td>
        <td> {{ m[1][2]|safe }} </td>
        <td> {{ m[1][3]|safe }} </td>
        <td> {{ m[1][4]|safe }} </td>
        <td> {{ m[1][5]|safe }} </td>
        <td> {{ m[1][6]|safe }} </td>
        </tr>
      </table>
    {% endif %}
  {% endwith %}



{% endblock %}